@import "tailwindcss";

:root {
  --background: #050505;
  --foreground: #ffffff;
  --premium-gold: #D4AF37;
  --amber-glow: #FFBF00;
  --anthracite: #1A1A1A;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-gold: var(--premium-gold);
  --color-amber: var(--amber-glow);
  --color-anthracite: var(--anthracite);

  --font-serif: "Playfair Display", serif;
  --font-sans: "Inter", sans-serif;
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-sans);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--font-serif);
}

@layer utilities {
  .hide-scrollbar::-webkit-scrollbar {
    display: none;
  }

  .hide-scrollbar {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }
}